<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>blog_hbase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginAction</display-name>
    <servlet-name>UserLoginAction</servlet-name>
    <servlet-class>action.UserLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginAction</servlet-name>
    <url-pattern>/UserLoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterAction</display-name>
    <servlet-name>UserRegisterAction</servlet-name>
    <servlet-class>action.UserRegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterAction</servlet-name>
    <url-pattern>/UserRegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogViewAction</display-name>
    <servlet-name>BlogViewAction</servlet-name>
    <servlet-class>action.BlogViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogViewAction</servlet-name>
    <url-pattern>/BlogViewAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogEditAction</display-name>
    <servlet-name>BlogEditAction</servlet-name>
    <servlet-class>action.BlogEditAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogEditAction</servlet-name>
    <url-pattern>/BlogEditAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogDeleteAction</display-name>
    <servlet-name>BlogDeleteAction</servlet-name>
    <servlet-class>action.BlogDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogDeleteAction</servlet-name>
    <url-pattern>/BlogDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogCreateAction</display-name>
    <servlet-name>BlogCreateAction</servlet-name>
    <servlet-class>action.BlogCreateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogCreateAction</servlet-name>
    <url-pattern>/BlogCreateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogCommentAddAction</display-name>
    <servlet-name>BlogCommentAddAction</servlet-name>
    <servlet-class>action.BlogCommentAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogCommentAddAction</servlet-name>
    <url-pattern>/BlogCommentAddAction</url-pattern>
  </servlet-mapping>
</web-app>